<div class="row">
    <div class="card movie_card col-lg-4">
        <img src="https://m.media-amazon.com/images/M/MV5BMTYzMDM4NzkxOV5BMl5BanBnXkFtZTgwNzM1Mzg2NzM@._V1_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Play Trailer">
            </i>
          <h5 class="card-title">Toy Story 4</h5>
                 <span class="movie_info">2019</span>
                 <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
      </div>
    <div class="card movie_card col-lg-4">
        <img src="https://m.media-amazon.com/images/M/MV5BMTYzMDM4NzkxOV5BMl5BanBnXkFtZTgwNzM1Mzg2NzM@._V1_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Play Trailer">
            </i>
          <h5 class="card-title">Toy Story 4</h5>
                 <span class="movie_info">2019</span>
                 <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
      </div>
    <div class="card movie_card col-lg-4">
        <img src="https://m.media-amazon.com/images/M/MV5BMTYzMDM4NzkxOV5BMl5BanBnXkFtZTgwNzM1Mzg2NzM@._V1_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Play Trailer">
            </i>
          <h5 class="card-title">Toy Story 4</h5>
                 <span class="movie_info">2019</span>
                 <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
        </div>
      </div>
</div>
