
<div class="row">
    <div class="card movie_card col-lg-4 mt-3" *ngFor="let movie of allMovies">
      <img [src]="basepath+movie.poster_path" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ movie. title | mycustom }}</h5>
        <span class="movie_info">{{ movie.release_date | date}}</span>
        <!-- <p>{{movie.overview | lowercase}}</p> -->
        <!-- <button class="btn btn-success d-block" [disabled]="myMovie1.notValiable">Watch</button>
        <button class="btn btn-primary d-block" *ngIf="myMovie1.inStock">Add to Cart</button> -->
      </div>
    </div>
    
    
  </div>